#traineeInformation{
    display: inline;
    position: absolute;
}

#contactDetails{
    display: none;
    position: absolute;
}

#proofIdentity{
    display: none;
    position: absolute;
}

#terms{
    display: none;
    position: absolute;
}

a{
    cursor: pointer;
}

#name{
    float: right;
    padding-right: 25px;
    padding-top:18px;
}